/* Suppliers Section */
.suppliers-section {
  max-width: 1100px;
  margin: 40px auto;
}

.suppliers-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 0;
  justify-content: space-evenly;
}

.section-title {
  font-size: 24px;
  color: #000;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: start;
}

.suppliers-grid div {
  width: calc(25% - 20px);   
  font-size: 14px;
}

.suppliers-grid div .country-name {
  display: flex;
  align-items: center;
  gap: 6px; 
}

.suppliers-grid span {
  display: block;
  color: #1c1c1c;
  font-size: 12px;
  margin-left: 26px;
}

.suppliers-grid img {
  width: 20px;
}
